data
console_libraries
prometheus
promtool
.terraform.lock.hcl
.terraform
.ssh/*
.env.production
.env.local
.env.instance

inventory.ini

*.ini
# Fichiers générés par Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Variables qui peuvent contenir des secrets
terraform.tfvars
