# Copie ce fichier en terraform.tfvars et adapte les valeurs
# Ne commite JAMAIS terraform.tfvars si il contient des secrets

aws_region      = "eu-west-3"
instance_name   = "btp_app_prod"
key_name = "btp_app_key"
